@model GagiStoreSystem.Infrastructure.Models.OrderM
<div class="col-md-12">
    <div class="card mb-4">
        <div class="card-body">
            <h6 class="mb-3">Sifarişçinin detalları</h6>
            <form action="@Url.Action("AddOrder","Packet")" method="post">
                <div class="row row-xs">
                    <input type="text" name="PacketId" hidden value="@ViewBag.PacketId" />
                    <div class="col-md-3">
                        <input class="form-control" asp-for="ReceiverName" type="text" placeholder="Sifarişçinin adı">
                    </div>
                    <div class="col-md-3 mt-3 mt-md-0">
                        <input class="form-control" asp-for="ReceiverSurname" type="text" placeholder="Sifarişçinin soyadı">
                    </div>
                    <div class="col-md-3 mt-3 mt-md-0">
                        <input class="form-control" asp-for="Instagram" type="text" placeholder="Sifarişçinin instagramı">
                    </div>
                    <div class="col-md-3 mt-3 mt-md-0">
                        <input class="form-control" asp-for="Phone" type="text" placeholder="Sifarişçinin telefonu">
                    </div>
                    <div class="col-md-3 mt-3 my-2">
                        <input class="form-control" asp-for="OrderDate" type="date" placeholder="Sifariş qeydə alındığı gün">
                    </div>
                    <div class="col-md-3 mt-3 my-2">
                        <textarea class="form-control" asp-for="Note" placeholder="Sifariş  haqqında məlumat"></textarea>
                    </div>
                    <div id="submit-order-info" class="col-md-2 my-3">
                        <button type="submit" class="btn btn-primary btn-block">Yadda saxla</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@*<div class="col-md-12">
    <div class="card mb-4">
        <div class="card-body">
            <h6 class="mb-3">Sifarişin detalları</h6>
            <button id="add-order-detail" class="btn btn-primary ripple m-1" type="button">
                Əlavə et
            </button>
            <div id="add-order-detail-form" class="d-none row row-xs">
                <div class="col-md-3">
                    <input class="form-control" type="text" placeholder="Sifarişçinin adı">
                </div>
                <div class="col-md-3 mt-3 mt-md-0">
                    <input class="form-control" type="text" placeholder="Sifarişçinin soyadı">
                </div>
                <div class="col-md-3 mt-3 mt-md-0">
                    <input class="form-control" type="text" placeholder="Sifarişçinin instagramı">
                </div>
                <div class="col-md-3 mt-3 mt-md-0">
                    <input class="form-control" type="text" placeholder="Sifarişçinin telefonu">
                </div>
                <div class="col-md-2 my-3">
                    <button class="btn btn-primary btn-block">Yadda saxla</button>
                </div>
            </div>
            <div class="table-responsive">
                <table style="min-width:1200px" class="table table-bordered table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Bağlamanın kodu</th>
                            <th scope="col">Sifarişçilərin ad və soyadı</th>
                            <th scope="col">Məhsul sayı</th>
                            <th scope="col">Vəziyyət</th>
                            <th scope="col">Parametrlər</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>*@

