@model GagiStoreSystem.Infrastructure.Models.HomeM
<div class="breadcrumb">
    <ul>
        <li><a href="@Url.Action("Index","Home")">Ana səhifə</a></li>
    </ul>
</div>
<div class="separator-breadcrumb border-top"></div>
<div class="col-md-4">
    <div class="card card-icon-big mb-4">
        <div class="card-body text-center">
            <i class="i-Data-Upload"></i>
            <p class="text-muted mt-2 mb-2">Post olunan məhsullar</p>
            <p class="lead text-18 mt-2 mb-0">@Model.TotalPostedProducts</p>
        </div>
    </div>
</div>

@*<div class="col-md-4">
    <div class="card card-icon-big mb-4">
        <div class="card-body text-center">
            <i class="i-Money-2"></i>
            <p class="text-muted mt-2 mb-2">Satışlar</p>
            <p class="lead text-18 mt-2 mb-0">4021</p>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card card-icon-big mb-4">
        <div class="card-body text-center">
            <i class="i-Money-2"></i>
            <p class="text-muted mt-2 mb-2">Satışlardan gələn gəlir</p>
            <p class="lead text-18 mt-2 mb-0">4021</p>
        </div>
    </div>
</div>*@
